{{- define "main" -}}

<div class="pub">

  <div class="article-container pt-3">
    <h1>{{ .Title }}</h1>

    {{ with .Params.subtitle }}
    <p class="page-subtitle">{{ . }}</p>
    {{- end }}

    {{- $page := . }}
    {{- $author := "" }}
    {{- $show_authors := true }}
    {{- range $page.Params.authors }}
      {{- $author_page := site.GetPage (printf "/authors/%s" (. | urlize)) }}
      {{- if and $show_authors $author_page }}
        {{- $author = $author_page }}
        {{- $show_authors = false }}
      {{- end }}
    {{- end }}

    {{ partial "page_metadata" (dict "page" . "is_list" 0 "share" true) }}

    <div class="article-style">
      {{- .Content -}}
    </div>

    {{- /* Show featured image below content */ -}}
    {{- $featured_image := (.Resources.ByType "image").GetMatch "*featured*" -}}
    {{- $anchor := or .Params.image.focal_point "Smart" -}}
    {{- $is_link := false -}}
    {{- with .Params.url -}}
      {{- $is_link = true -}}
    {{- end -}}
    {{- with $featured_image -}}
      {{- $image := .Resize "720x" -}}
      <div class="article-featured-image mt-4">
        {{- if $is_link }}<a href="{{ $.Params.url }}" {{ if ne $.Params.url_code "" }}data-video="{{ $.Params.url_code }}"{{ end }}>{{ end -}}
          <img src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}"
              alt="{{ with $.Params.image.alt_text }}{{ . }}{{ end }}" loading="lazy">
        {{- if $is_link }}</a>{{ end -}}

        {{- with $.Params.image.caption -}}
          <span class="article-header-caption">{{ . | markdownify | emojify }}</span>
        {{- end -}}
      </div>
    {{- end -}}

    {{ partial "tags.html" . }}

    {{- if ne .Type "event" }}
      {{ partial "page_author.html" . }}
    {{- end }}

    {{- $related := site.RegularPages.Related . | first 5 }}
    {{- with $related }}
      <div class="article-widget content-widget-hr">
        <h3>{{ i18n "related" }}</h3>
        <ul>
          {{- range . }}
            <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
          {{- end }}
        </ul>
      </div>
    {{- end }}

    {{ if site.Params.section_pager }}
      {{ partial "section_pager.html" . }}
    {{ end }}

  </div>
</div>

{{- end -}}
